.translate-block{
    display: flex;
    justify-content: center;
}

.translate-input {
    height: 150px;
    width:40%;
    outline: none;
    border: none;
    resize: none;
    padding: 14px 10px !important;
    font-size: 14px;
    line-height: 1.5;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    background-color: #FFFFFF;
}
.translate-output{
    overflow-y: auto;
    background-color: #EAEDF6;
    height: 150px;
    width:40%;
    padding: 14px 10px !important;
    font-size: 14px;
    line-height: 1.5;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}
.translate-output-copy{
    position: absolute;
    left: 51%;
    top: 240px;
    border: none;
    background-color: #DCE0EE;
    border-radius: 6px;
}
.translate-output-copy:hover{
    background-color: #D5E2FA;
}
body{
    background-color:#F2F4FA;
    padding: 30px;
}

#translate-version {
    position: absolute;
    right: 10px;
    bottom: 0;
    font-size: 10px;
}